@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #020617;
}
